<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>clic - o aplicativo chegou!</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="images/icon.png" rel="icon" sizes="32x32" type="image/png">
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
  
		<section class="global intro">
			<div class="content intro--content">
				<img src="images/clic-logo.png" class="intro--logo" alt=""></img>
				<h1>Chegou o aplicativo do clic</h1>
				<h2>As marcas que você já conhece agora estão reunidas em um só lugar.</h2>
				<div class="download intro--download">
					<a href="#" class="download--button" target="_blank"><img src="images/button-googleplay.png" alt="Baixe agora no Google Play"></a>
					<a href="#" class="download--button" target="_blank"><img src="images/button-appstore.png" alt="Baixe agora na App Store"></a>
				</div>
			</div>
			<div class="brands intro--brands">
				<img src="images/marcas.png" alt=""></img>
			</div>
		</section>

  	<a href="#" class="down"><img src="images/button-down.png" alt="Próximo"></a>
  	
   	<section class="global info-1">
   		<div class="content">
				<div class="left info--content">
					<h1>Praticidade</h1>
					<h2>Apresentamos o que é mais relevante para que você fique sempre por dentro.</h2>
					<div class="download info--download">
						<a href="#" class="download--button" target="_blank"><img src="images/button-googleplay.png" alt="Baixe agora no Google Play"></a>
						<a href="#" class="download--button" target="_blank"><img src="images/button-appstore.png" alt="Baixe agora na App Store"></a>
					</div>
				</div>
				<div class="right info--image">
					<div class="nexus">
						nexus
					</div>
					<div class="iphone">
						iphone
					</div>
				</div>
			</div>
   	</section>
   	
   	<a href="#" class="down"><img src="images/button-down.png" alt="Próximo"></a>
   	
   	<section class="global info-2">
   		<div class="content">
				<div class="left info--image">
					<div class="iphone">
						iphone
					</div>	
				</div>
				<div class="right info--content">
					<h1>Tempo real</h1>
					<h2>Acompanhe o que acabou de acontecer em esportes, notícias e muito mais.</h2>
					<div class="download info--download">
						<a href="#" class="download--button" target="_blank"><img src="images/button-googleplay.png" alt="Baixe agora no Google Play"></a>
						<a href="#" class="download--button" target="_blank"><img src="images/button-appstore.png" alt="Baixe agora na App Store"></a>
					</div>
				</div>
			</div>
   	</section>
   	
   	<section class="global footer">
   		<div class="content">
   			<h1>Baixe agora mesmo! Disponível para Android e iPhone</h1>
   			<div class="download footer--download">
   				<a href="#" class="download--button" target="_blank"><img src="images/button-googleplay.png" alt="Baixe agora no Google Play"></a>
					<a href="#" class="download--button" target="_blank"><img src="images/button-appstore.png" alt="Baixe agora na App Store"></a>
   			</div>
   		</div>
   		<div class="links">
   			<div class="external">
   				<ul>
   					<li><a href="#">Anuncie</a></li>
   					<li>•</li>
   					<li><a href="#">Trabalhe Conosco</a></li>
   				</ul>
   			</div>
				<div class="social">
					<div class="top">
						<a href="https://www.facebook.com/clicRBS" class="social--link" target="_blank"><img src="images/icon-facebook.png" alt=""></a>
						<a href="https://twitter.com/clicrbsrs" class="social--link" target="_blank"><img src="images/icon-twitter.png" alt=""></a>
					</div>
					<div class="bottom">
						<p>© 2000 - 2015 clic.com.br</p>
					</div>
				</div>
   			<div class="grupo">
   				<a href="#" target="_blank"><img src="images/gruporbs-logo.png" alt="Grupo RBS"></a>
   			</div>
   		</div>
   </section>
   
   <script src="scripts/main.js"></script>
  </body>
</html>